#
# Copy this file to 'build.cfg' first, i.e.:
#
#   cp build.cfg.sample build.cfg
#
# Then adapt the configuration according to you local setup.
#
###############################################################################

# http://www.clash.lang
CLASH=clash

# https://github.com/cliffordwolf/yosys
YOSYS=yosys

# https://github.com/cseed/arachne-pnr
ARACHNEPNR=arachne-pnr

# https://github.com/YosysHQ/nextpnr
NEXTPNR=nextpnr

# https://github.com/cliffordwolf/icestorm/tree/master/icepack
ICEPACK=icepack

# https://github.com/cliffordwolf/icestorm/tree/master/iceprog
ICEPROG=iceprog

# https://github.com/cliffordwolf/icotools/tree/master/icoprog
ICOPROG=icoprog

# https://github.com/reactive-systems/tsltools
# path to the folder containing all tsltools executables
TSLTOOLS=tsltools

# https://strix.model.in.tum.de/
# path to strix executable
STRIX=strix

# https://github.com/reactive-systems/bosy
# path to bosy executable
BOSY=bosy

###############################################################################
